@media screen and (max-width: 900px){


}

@media screen and (max-width: 900px){

  
}


@media screen and (max-width: 991px){
.nav {
display: none;
  
}


@media screen and (max-width: 767px){

  
}


@media screen and (max-width: 575px){

.workprocess__item {
 width: 40%; 
}

.works__titles p {
font-size: 20px;  
}

.stat__item {
  width: 35%;
}  
}