@media screen and (max-width: 900px){


}

@media screen and (max-width: 900px){

  
}


@media screen and (max-width: 991px){
.nav {
display: none;
  
}


@media screen and (max-width: 767px){

  
}


@media screen and (max-width: 575px){

.workprocess__item {
 width: 30%; 
}

.works__titles p {
font-size: 15px;  
}

.skills {
padding: 50px 5px;  
}
.stat__item {
  width: 40%;
  font-size: 15px;
} 

.item__number {
font-size: 35px;
width: 100px;
height: 100px;
line-height: 95px;
border:5px solid #574472;
}

.item__suptitle {
font-size: 15px;
color: #fff;
margin: 5px;
}

.skills_stat {
  
}

}